{% extends 'layout.html' %} {% block content %}
<div class="col-md-4 offset-md-4">
  <form
    action="{% url 'password' %}"
    method="get"
    class="card card-body p-5"
    style="background-color: #121212"
  >
    <h3>Password Generator</h3>
    <br />
    <label for="length">Select the length for your password </label>
    <h6>betwen 1 - 100 characters:</h6>
    <input
      type="number"
      name="length"
      id="lenght"
      min="1"
      max="100"
      value="10"
      class="from-control"
    />
    <br />
    <h6>Select the characters to include</h6>
    <div class="form-check form-switch my-2">
      <label for="uppercase" class="from-check-label">Uppercase</label>
      <input
        type="checkbox"
        name="uppercase"
        id="uppercase"
        class="form-check-input"
        checked
      />
    </div>
    <div class="form-check form-switch my-2">
      <label for="special" class="from-check-label">Special Characters</label>
      <input
        type="checkbox"
        name="special"
        id="special"
        class="form-check-input"
        checked
      />
    </div>
    <div class="form-check form-switch my-2">
      <label for="numbers" class="from-check-label">Numbers</label>
      <input
        type="checkbox"
        name="numbers"
        id="numbers"
        class="form-check-input"
        checked
      />
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Generate</button>
    <br />
    <a href="/pass_generator" class="btn btn-primary">Reset</a>
  </form>

  {% if password %}
  <div class="card card-body p-5 text-center" style="background-color: #ffffff">
    <h4 style="color: #121212">Your Password:</h4>
    <p style="color: #121212">{{ password }}</p>
  </div>
  {% endif %}
</div>

{% endblock %}
